*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(206, 206, 255);
}

.container{
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

p{
    padding-bottom: 10px;
}

input{
    margin: 10px;
}

.btn{
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}





